@import "tailwindcss";

.ab {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}



.big-shoulders-<uniquifier> {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}