@import "tailwindcss";

.ab {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}



.big {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}