@import "tailwindcss";

.ab {
  font-family: "Abril Fatface", serif;

  font-style: normal;
}



.big {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}

.pr{
  font-family: "Prata", serif;

  font-style: normal;
}
